{% extends 'BookshopBookshopBundle::layout.html.twig' %}

{% block content %}

 <div class="main-container col3-layout">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li class="home">
                                    <a href="{{ path('bookshop_bookshop_homepage') }}" title="Go to Home Page">Home</a>
                                    <span>/ </span>
                                </li>
                                <li class="category35">
                                    <strong>label</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-wrapper">
                            <div class="col-main">
                                <div class="page-title category-title">
                                    <h1>label</h1>
                                </div>
                           
                                <div class="category-products">
                                    <div class="toolbar">
                                        <div class="pager">
                                            <p class="amount">
                                                <strong>{{ pagination.getTotalItemCount }} Item(s)</strong>
                                            </p>
                                          {{ knp_pagination_render(pagination) }}                                     
                                        </div>                                        
                                        <div class="sorter">
                                            <div class="sort-by">
                                                <form method="get">
                                                    <label>Sort By</label>
                                                   <select name='sortBy'>
                                                     <option {% if pagination.isSorted('title') %} selected="selected" {% endif %}>{{ knp_pagination_sortable(pagination, 'title', 'title') }}</option>
                                                     <option {% if pagination.isSorted('price') %} selected="selected" {% endif %}>{{ knp_pagination_sortable(pagination, 'price', 'price') }}</option>
                                                   </select>
                                                    &nbsp;
                                                    <label>Direction</label>
                                                    <select name='direction'>
                                                       <option {% if pagination.isSorted('desc') %} selected="selected" {% endif %}>{{ knp_pagination_sortable(pagination, 'desc', 'desc') }}</option>
                                                       <option {% if pagination.isSorted('asc') %} selected="selected" {% endif %}>{{ knp_pagination_sortable(pagination, 'asc', 'asc') }}</option>
                                                    
                                                    </select>
                                                    <input type="submit" />
                                                 </form>
                                            </div>
                                        </div>
                                    </div>                                 
                                   <ul class="products-grid">
                                   {% for product in pagination %}                                  
                                      {% if  (loop.index%3==1) %}   
                                        <li class="item first">
                                            <a href="" title="{{ product.title }}" class="product-image"><img src="{{ asset('bundles/bookshopbookshop/product_images/'~product.image.path~product.image.filename) }}" width="135" height="135" alt="Nusantara Demo" /></a>
                                            <h2 class="product-name"><a href="" title="{{ product.Title }}">{{ product.Title }}</a></h2>
                                            <div class="price-box">
                                                <span class="regular-price" id="product-price-168">
                                                    <span class="price">{{ product.Price }} US$</span>
                                                </span>
                                            </div>

                                            <div class="actions">
                                                <button type="button" title="Add to Cart" class="button btn-cart" >
                                                    <span><span>Add to Cart</span></span>
                                                </button>
                                            </div>
                                        </li>
                                         {% endif %}
                                         {% if  (loop.index%3==2) %}
                                        <li class="item">
                                            <a href="product_detail.html" title="{{ product.Title }}" class="product-image">
                                                <img src="{{ asset('bundles/bookshopbookshop/product_images/'~product.image.path~product.image.filename) }}" width="135" height="135" alt="{{ product.Title }}" />
                                            </a>

                                            <h2 class="product-name">
                                                <a href="product_detail.html" title="{{ product.Title }}"> {{ product.Title }}</a>
                                            </h2>

                                            <div class="price-box">
                                                <span class="regular-price" id="product-price-170">
                                                    <span class="price">{{ product.Price }} US$</span>
                                                </span>
                                            </div>

                                            <div class="actions">
                                                <button type="button" title="Add to Cart" class="button btn-cart" >
                                                    <span><span>Add to Cart</span></span>
                                                </button>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% if  (loop.index%3==0) %}
                                        <li class="item">
                                            <a href="product_detail.html" title=" {{ product.Title }}" class="product-image">
                                                <img src="{{ asset('bundles/bookshopbookshop/product_images/'~product.image.path~product.image.filename) }}" width="135" height="135" alt=" Shaimus - Turn The Other Way" />
                                            </a>

                                            <h2 class="product-name">
                                                <a href="product_detail.html" title="{{ product.Title }}"> {{ product.Title }}</a>
                                            </h2>

                                            <div class="price-box">
                                                <span class="regular-price" id="product-price-170">
                                                    <span class="price">{{ product.Price }} US$</span>
                                                </span>
                                            </div>

                                            <div class="actions">
                                                <button type="button" title="Add to Cart" class="button btn-cart" >
                                                    <span><span>Add to Cart</span></span>
                                                </button>
                                            </div>
                                        </li>                                
                                         {% endif %}                                     
                            {% else %}
                                <p>There are no products...</p>
                            {% endfor %}	
                                </ul> 
                                    
                                    <div class="toolbar-bottom">
                                        <div class="toolbar">
                                            <div class="pager">
                                                {{ knp_pagination_render(pagination) }}
                                                <p class="amount">
                                                    <strong>{{ pagination.getTotalItemCount }} Item(s)</strong>
                                                </p>                                            
                                            <div class="sorter">
                                                <div class="sort-by">
                                                   <form method="get">
                                                    <label>Sort By</label>
                                                   <select name='sortBy'>
                                                     <option {% if pagination.isSorted('title') %} selected="selected" {% endif %}>{{ knp_pagination_sortable(pagination, 'title', 'title') }}</option>
                                                     <option {% if pagination.isSorted('price') %} selected="selected" {% endif %}>{{ knp_pagination_sortable(pagination, 'price', 'price') }}</option>
                                                   </select>
                                                    &nbsp;
                                                    <label>Direction</label>
                                                    <select name='direction'>
                                                       <option {% if pagination.isSorted('desc') %} selected="selected" {% endif %}>{{ knp_pagination_sortable(pagination, 'desc', 'desc') }}</option>
                                                       <option {% if pagination.isSorted('asc') %} selected="selected" {% endif %}>{{ knp_pagination_sortable(pagination, 'asc', 'asc') }}</option>
                                                    </select>
                                                    <input type="submit" />
                                                 </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                         
                                </div>
                            </div>
                                 {% block leftsidebar%}{% endblock %}                        
                        </div>
                       {% block rightsidebar%}{% endblock %}
                    </div>
                </div>

{% endblock %}
